@import '../scss-util/mixins';

#logo {
  cursor: pointer;
  position: relative;
  left: -25px;
}

.servingNewChildLink {
  color: red !important;;

  margin-right: 2em;
}



.menuRight {
  margin-top: 25px;


  @include respond-above(sm) {
    text-align: right;
  }

  @include respond-above(md) {
    text-align: left;
  }

  button {
    margin-right: 25px;
  }
}
