a, a:not([href]), span  {
  color: #BBB;
}

a:hover, a:not([href]):hover {
  cursor: pointer;
  text-decoration: underline;
  color: black;
}

div.row {
  margin-top: 2em;
}


.linksColumn a{
  margin-right: 1em;

}
