<div class="row searchType">
  <div class="col-12">
    <span>Search By: </span>
    <a href="javascript:void(0)" [class.selectedSearchType]="searchType == SearchType.NAME" (click)="setSearchType(SearchType.NAME)">Name</a>
    <a href="javascript:void(0)" [class.selectedSearchType]="searchType == SearchType.EMAIL" (click)="setSearchType(SearchType.EMAIL)">Email</a>
    <a href="javascript:void(0)" [class.selectedSearchType]="searchType == SearchType.ADDRESS" (click)="setSearchType(SearchType.ADDRESS)">Address</a>
    <a href="javascript:void(0)" [class.selectedSearchType]="searchType == SearchType.PHONE" (click)="setSearchType(SearchType.PHONE)">Phone</a>
    <a href="javascript:void(0)" [class.selectedSearchType]="searchType == SearchType.URL" (click)="setSearchType(SearchType.URL)">URL</a>
  </div>
</div>
<div class="row searchRow">

      <div class="col-md-12 col-lg-9 ">
          <form [formGroup]="searchForm" (ngSubmit)="onSearch()" >

            <div class="row">

              <div class="col-12">
                <div class="searchFormInputsWrapper">

                  <div class="row">
                    <div class="col-md-12  searchInputWrapper"
                        [class.col-lg-8]="searchType === SearchType.NAME">
                      <input type="text"
                             formControlName="main"
                             class="searchInput"
                             placeholder="{{generateSearchHint(searchType)}}"
                             (keyup.enter)="onSearch()"
                             autofocus />
                    </div>
                    <div class="col-md-12 col-lg-4 locationInputWrapper"
                    *ngIf="searchType === SearchType.NAME">
                      <input type="text"
                             formControlName="location"
                             class="locationInput"
                             placeholder="City, State"
                             (keyup.enter)="onSearch()" />
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12" *ngIf="relationshipName != null">
                Relationship with {{relationshipName}}
              </div>
            </div>

          </form>

      </div>
      <div class="col-md-12 col-lg-3">
          <button type="button" class="btn btn-primary searchButton" (click)="onSearch()">Search</button>
          <button type="button" class="btn btn-secondary searchButton" (click)="startOverClick()">Start Over</button>

      </div>
</div>
