<div class="container">

  <app-header #header></app-header>

  <div class="row searchType">
    <div class="col-12">
      <span>Search By: </span>
      <a href="javascript:void(0)" [class.selectedSearchType]="searchType == SearchType.NAME" (click)="setSearchType(SearchType.NAME)">Name</a>
      <a href="javascript:void(0)" [class.selectedSearchType]="searchType == SearchType.EMAIL" (click)="setSearchType(SearchType.EMAIL)">Email</a>
      <a href="javascript:void(0)" [class.selectedSearchType]="searchType == SearchType.ADDRESS" (click)="setSearchType(SearchType.ADDRESS)">Address</a>
      <a href="javascript:void(0)" [class.selectedSearchType]="searchType == SearchType.PHONE" (click)="setSearchType(SearchType.PHONE)">Phone</a>
      <a href="javascript:void(0)" [class.selectedSearchType]="searchType == SearchType.URL" (click)="setSearchType(SearchType.URL)">URL</a>
    </div>
  </div>
  <div class="row searchRow">
        <div class="col-md-12 col-lg-9 ">
            <form [formGroup]="searchForm" (ngSubmit)="onSearch()">

              <div class="row">

                <div class="col-12">
                  <div class="searchFormInputsWrapper">

                    <div class="row">
                      <div class="col-md-12  searchInputWrapper"
                          [class.col-lg-8]="searchType === SearchType.NAME">
                        <input type="text"
                               formControlName="searchInput"
                               class="searchInput"
                               placeholder="{{generateSearchHint(searchType)}}"
                               (keyup.enter)="onSearch()"
                               autofocus />
                      </div>
                      <div class="col-md-12 col-lg-4 locationInputWrapper"
                      *ngIf="searchType === SearchType.NAME">
                        <input type="text"
                               formControlName="locationInput"
                               class="locationInput"
                               placeholder="City, State"
                               (keyup.enter)="onSearch()" />
                      </div>
                    </div>

                  </div>
                </div>
              </div>

            </form>

        </div>
        <div class="col-md-12 col-lg-3">
            <button type="button" class="btn btn-primary searchButton" (click)="onSearch()">Search</button>
            <button type="button" class="btn btn-secondary searchButton" (click)="startOverClick()">Start Over</button>

        </div>
  </div>

  <div class="row"
    *ngIf="viewState == ViewState.SEARCH_RESULT && searchResult.warnings != null">
    <div class="col-12 ">
      <div class="alert alert-warning" *ngFor="let warning of searchResult.warnings">{{translateWarningMessage(warning)}}</div>
    </div>
  </div>

  <div class="row"
    *ngIf="viewState == ViewState.SEARCH_LOADING">
    <div class="col-12 text-center">
          <img src="/assets/loading.gif" />
    </div>

  </div>

  <div class="row"
    *ngIf="viewState == ViewState.SEARCH_ERROR">
    <div class="col-12">
      There was an error during the search. Please try again later, or <a href="mailto:support@connectourkids.org">Contact Support</a>.
    </div>

  </div>

  <div class="row"
    *ngIf="viewState == ViewState.NO_RESULTS">
    <div class="col-12">
      Sorry, no results were found for your search. Check the spelling and try again.
    </div>

  </div>

  <div class="row" *ngIf="!authenticated() && viewState == ViewState.SEARCH_RESULT">
    <div class="col-12">
      <div class="alert alert-info">This is a preview. Social workers can have completely free access. <a href="javascript:void(0)" (click)="header.openSocialWorkerCheckModal()">Click here</a> to find out more.</div>
    </div>
  </div>

  <div class="row"
    *ngIf="viewState == ViewState.SEARCH_RESULT && searchResult?.person != null">
    <div class="col-12 personResultWrapper">

      <!-- Personal Details -->
      <div class="row">
        <div class="col-sm-3">
          <img src="{{generateThumbnailUrl(searchResult.person)}}" width="100" height="100" />
        </div>
        <div class="col-sm-9">
          <span class="personName" *ngIf="searchResult.person.names != null && searchResult.person.names.length > 0"> {{searchResult.person.names[0]?.first}}
          {{searchResult.person.names[0]?.middle}}
          {{searchResult.person.names[0]?.last}}</span>
                    <div>
          {{searchResult.person.dob?.display}} {{searchResult.person.gender?.content}}

          </div>
        </div>

      </div>

      <!-- Email -->
      <div class="row" *ngIf="filterEmails(searchResult.person?.emails)?.length  > 0">
        <div class="col-sm-3 sectionLabel">Emails</div>
        <div class="col-sm-9 ">
          <div class="dataRow" *ngFor="let email of filterEmails(searchResult.person?.emails); let in = index">
            <a href="javascript:void(0)" (click)="emailClick(email)">{{email.address}}</a>
            <div class="metaData">
            <span *ngIf="email['@type'] != null">{{email["@type"]}}</span>
            <span *ngIf="getLastSortDate(email) != null
                && getLastSortDate(email).getFullYear() != 1899">{{getLastSortDate(email).getFullYear()}}</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Phone Numbers -->
      <div class="row" *ngIf="filterPhones(searchResult.person?.phones)?.length  > 0">
        <div class="col-sm-3 sectionLabel">Phone Numbers</div>
        <div class="col-sm-9">
          <div class="dataRow" *ngFor="let phone of filterPhones(searchResult.person?.phones); let in = index">
            <a href="javascript:void(0)}" (click)="phoneClick(phone)">{{generatePhoneDisplay(phone)}}</a>
            <div class="metaData">
              <span *ngIf="phone['@type'] != null">{{phone["@type"]}}</span>
              <span *ngIf="getLastSortDate(phone) != null
                    && getLastSortDate(phone).getFullYear() != 1899">{{getLastSortDate(phone).getFullYear()}}</span>
             </div>
          </div>
        </div>
      </div>


      <!-- Addresses -->
      <div class="row" *ngIf="filterAddresses(searchResult.person?.addresses)?.length  > 0">
        <div class="col-sm-3 sectionLabel">Addresses</div>
        <div class="col-sm-9">
          <div class="dataRow" *ngFor="let address of filterAddresses(searchResult.person?.addresses); let in = index">
            <a href="javascript:void(0)" (click)="addressClick(address)" target="_blank">
              <div *ngIf="address.street != null">{{generateAddressHomeStreetDisplay(address)}}</div>
              <div>{{address.city}}<span *ngIf="address.city != null">,</span> {{address.state}} {{generateAddressZipcodeDisplay(address)}}</div>

            </a>
              <div class="metaData">
                <span *ngIf="address['@type'] != null">{{address["@type"]}}</span>
                <span *ngIf="getLastSortDate(address) != null
                      && getLastSortDate(address).getFullYear() != 1899">{{getLastSortDate(address).getFullYear()}}</span>
              </div>
          </div>
        </div>
      </div>

      <!-- Profiles
      <div class="row">
        <div class="col-sm-3">Profiles</div>
        <div class="col-sm-9">
          <div *ngFor="let profile of searchResult.person?.user_ids; let in = index">
            <a href="{{generateProfileUrl(profile)}}">{{generateProfileName(profile)}}</a>
          </div>
        </div>
      </div>
      -->

      <!-- URLS -->
      <div class="row" *ngIf="filterUrls(searchResult.person?.urls).length  > 0">
        <div class="col-sm-3 sectionLabel">Websites</div>
        <div class="col-sm-9">
          <div class="dataRow" *ngFor="let url of filterUrls(searchResult.person?.urls); let in = index">
            <a href="javascript:void(0)" (click)="urlClick(url)" target="_blank">{{url["@name"]}}</a>
            <div class="metaData">
              <span *ngIf="url['@type'] != null">{{url["@type"]}}</span>

              <span *ngIf="getLastSortDate(url) != null
                && getLastSortDate(url).getFullYear() != 1899">{{getLastSortDate(url).getFullYear()}}</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Relatives -->
      <div class="row" *ngIf="filterRelationships(searchResult.person?.relationships).length  > 0">
        <div class="col-sm-3 sectionLabel">Relationships</div>
        <div class="col-sm-9">
          <div class="dataRow" *ngFor="let relationship of filterRelationships(searchResult.person?.relationships); let in = index">
            <a href="javascript:void(0)" (click)="relationshipClick(relationship)" target="_blank">{{relationship.names[0]["display"]}}</a>
            <div class="metaData">
              <span *ngIf="relationship['@type'] != null">{{relationship["@type"]}}</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

    <div class="row"
    *ngIf="viewState == ViewState.SEARCH_RESULT && searchResult?.possible_persons != null">

      <div class="col-12">
        <div class="row">
          <div class="col-3 col-sm-2">

          </div>
          <div class="col-9 col-sm-10">
            <h3>Possible Matches</h3>
          </div>
        </div>

        <div class="row possibleMatchRow"
          *ngFor="let person of searchResult.possible_persons"
          (click)="personClick($event, person)">
          <div class="col-3 col-sm-2">
            <a href="{{generatePersonLink(person)}}">
              <img src="{{generateThumbnailUrl(person)}}"
                 width="75" height="75"
                 /></a>
          </div>
          <div class="col-9 col-sm-10">
            <a href="{{generatePersonLink(person)}}"><span *ngIf="person.names != null"><strong>{{person.names[0]?.display}}</strong></span></a><br/>
            {{person.dob?.display}}<span *ngIf="person.dob != null && person.gender != null">,</span> {{person.gender?.content}}<br/>
            <span class="possibleMatchCityState" *ngFor="let cityState of uniqueCityStates(person.addresses)">
              {{cityState}}
            </span>

          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>


</div>

