@import '../scss-util/mixins';


#searchLogo {
  position: relative;
  left: -25px;
  cursor:pointer;
}


.personResultWrapper {

  > div.row {
    margin-bottom: 2em;

    @include respond-above(md) {
      > *:first-child {
        text-align: right;
      }
    }
  }
}

@include respond-below(md) {
  .locationInput {
    border-top: rgb(218, 225, 234) 1px solid !important;
  }
}



.personName {
  font-size: 1.5em;
}

.possibleMatchRow {
  margin-top: 1em;
  cursor: pointer;
  padding: 5px 0px;

  @include respond-above(md) {
      > div:first-child > a {
    float: right;
  }
}



}

.possibleMatchRow:hover {
    background-color: #EEEEEE;
    border-radius: 4px;
  }

.possibleMatchCityState {
  margin-right: 1em;
}

.alert-info {
  margin-bottom: 2em;
}

.dataRow {
  margin-bottom: 1em;
}
.metaData {
  color: #BBB;
  font-size: 0.75em;
  font-weight: bolder;
  clear:left;
}

.metaData span:first-child {
  margin-left: 0em;
}

.metaData span {
  display: inline-block;
  margin-left: 1em;
}

.sectionLabel {
  font-weight: bold;
  margin-bottom: 1em;
}

.personName{
  font-weight: bold;
}


