
<div class="container">

  <div class="row noSearchRow">

    <div class="col-12">
      <app-header></app-header>

      <div class="row searchRow">
        <div class="col-md-12 col-lg-10 ">
            <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
              <div class="row">

                <div class="col-12">
                  <div class="searchFormInputsWrapper">
                    <div class="row">
                      <div class="col-md-12 col-lg-8 searchInputWrapper">
                        <input type="text"
                               #searchInput
                               formControlName="searchInput"
                               class="searchInput"
                               placeholder="Full Name, Email, Phone, or URL"
                               (keyup.enter)="onSearch()"
                               autofocus
                        />
                      </div>
                      <div class="col-md-12 col-lg-4 locationInputWrapper">
                        <input type="text"
                               formControlName="locationInput"
                               class="locationInput"
                               placeholder="City, State"
                               (keyup.enter)="onSearch()"
/>
                      </div>
                    </div>

                  </div>
                </div>

              </div>

            </form>

        </div>
        <div class="col-md-12 col-lg-2">
          <span class="searchButtonWrapper">
            <button type="button" class="btn btn-primary" (click)="onSearch()">Search</button>
          </span>
        </div>
      </div>



      <div class="row">
          <div class="col-12">
                <h1>People Search</h1>
          </div>
      </div>

      <div class="row">
        <div class="col-12">
          Social workers use this tool to find contact information for extended families and supporters of foster kids. This search uses public information from over 300 sources and covers over 3 billion people.
        </div>
      </div>

      <div class="row videoLinkRow">
        <div class="col-12">
          <a href="javascript:void(0)" (click)="openVideo()">Watch a 2 minute quick introduction video</a>
        </div>
      </div>

    </div>

  </div>

  <app-footer></app-footer>


</div>


<ng-template #videoModal let-c="close" let-d="dismiss">
  <div class="modal-body">
    <iframe  class="videoIframe" width="100%"  src="https://www.youtube.com/embed/-zsiF_2gXA8?rel=0&autoplay=1&modestbranding=1&controls=1&wmode=transparent" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</ng-template>
