
@import '../scss-util/mixins';

@include respond-above(sm) {
  .noSearchRow {
    margin-top: 0px;
  }
}


#noSearchLogo {
  position:relative;
  left: -25px;
}

.noSearchLogoRow {
}

.searchFormInputsWrapper {
  border: 1px solid #dae1ea;
  background: #fff;
  border-radius: 4px;
  padding: 0px 10px;
  margin-bottom: 10px;

}


@include respond-below(lg) {
.searchFormInputsWrapper {
  margin-bottom: 10px;
}
}


.searchFormInputsWrapper input[type=text] {
    font-size: 2em;
    font-weight: 400;
    height: 100%;
    border: none;
    border-radius: 4px;
    outline: none;

  @include respond-below(sm) {
    font-size: 1em;
  }

}

@include respond-below(md) {
  .locationInput {
    border-top: rgb(218, 225, 234) 1px solid !important;
  }
}

.searchInputWrapper,
.locationInputWrapper {
  height: 3em;

  input {
    width: 100%;
  }
}


@include respond-above(md) {
  .locationInputWrapper {
    border-left: rgb(218, 225, 234) 1px solid;
  }
}

.searchButtonWrapper {
    vertical-align: top;
    display: inline-block;
    max-width: 80px;
    height: 48px;
}

@include respond-above(md) {
  .searchButtonWrapper {
  }
}

.searchButtonWrapper button {
    width: 100%;
    max-width: 200px;
    height: 100%;
    border: 1px solid rgb(80,141,179);
    border-radius: 3px;
    cursor: pointer;
    z-index: 2;
    background-color: rgb(80,141,179);

}



.searchRow {
  margin-top: 2em;
  margin-bottom: 2em;
}
