
<div class="container">

  <div class="row noSearchRow">

    <div class="col-12">
      <app-header></app-header>

      <app-search-form></app-search-form>


      <div class="row">
          <div class="col-12">
                <h1>People Search</h1>
          </div>
      </div>

      <div class="row">
        <div class="col-12">
          Social workers use this tool to find contact information for extended families and supporters of foster kids. This search uses public information from over 300 sources and covers over 3 billion people.
        </div>
      </div>

      <div class="row videoLinkRow">
        <div class="col-12">
          <a href="javascript:void(0)" (click)="openVideo()">Watch a 2 minute quick introduction video</a>
        </div>
      </div>

    </div>

  </div>

  <app-footer></app-footer>


</div>


<ng-template #videoModal let-c="close" let-d="dismiss">
  <div class="modal-body">
    <iframe  class="videoIframe" width="100%"  src="https://www.youtube.com/embed/36OwzSMHHk8?rel=0&autoplay=1&modestbranding=1&controls=1&wmode=transparent" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</ng-template>
